doctype
html(lang="en")
	include ./components/head.jade		
	body
		.wrapper
			include ./components/header.jade
			include ./components/about.jade
			include ./components/works.jade
			include ./components/features.jade
			include ./components/skills.jade
			include ./components/template-features.jade
			include ./components/news.jade
			include ./components/testimonials.jade
			include ./components/contacts.jade
			include ./components/footer.jade
		script(src="js/jquery-3.1.1.min.js")
		script(src="js/isotope.pkgd.min.js")
		script(src="js/imagesloaded.pkgd.js")
		script(src="js/lightslider.js")
		script(src="js/viewportchecker.js")
		script(src="js/main.js")