
@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url('./fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),  url('./fonts/FuturaPT-Heavy.otf')  format('opentype'),
	     url('./fonts/FuturaPT-Heavy.woff') format('woff'), url('./fonts/FuturaPT-Heavy.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Silent_Lips';
  src: url('./fonts/Silent_Lips.eot?#iefix') format('embedded-opentype'),  url('./fonts/Silent_Lips.woff') format('woff'), url('./fonts/Silent_Lips.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk-Light';
  src: url('./fonts/AktivGrotesk-Light.eot?#iefix') format('embedded-opentype'),  url('./fonts/AktivGrotesk-Light.otf')  format('opentype'),
	     url('./fonts/AktivGrotesk-Light.woff') format('woff'), url('./fonts/AktivGrotesk-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BaronNeue';
  src: url('./fonts/BaronNeue.eot?#iefix') format('embedded-opentype'),  url('./fonts/BaronNeue.otf')  format('opentype'),
	     url('./fonts/BaronNeue.woff') format('woff'), url('./fonts/BaronNeue.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaronNeueBold';
  src: url('./fonts/BaronNeueBold.eot?#iefix') format('embedded-opentype'),  url('./fonts/BaronNeueBold.otf')  format('opentype'),
	     url('./fonts/BaronNeueBold.woff') format('woff'), url('./fonts/BaronNeueBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
