.icon {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.icon_scroll {
    width: 13px;
    height: 7px;
    background-position: -7px -7px;
}

.nav__icon {
    width: 30px;
    height: 12px;
    background-position: -34px -7px;
}

.icon_be {
    width: 17px;
    height: 11px;
    background-position: -105px -7px;
}

.icon_compass {
    width: 81px;
    height: 81px;
    background-position: -136px -7px;
}

.icon_cup {
    width: 40px;
    height: 45px;
    background-position: -7px -102px;
}

.icon_design {
    width: 68px;
    height: 68px;
    background-position: -61px -102px;
}

.icon_engen {
    width: 78px;
    height: 77px;
    background-position: -143px -102px;
}

.icon_eye {
    width: 47px;
    height: 35px;
    background-position: -7px -193px;
}

.icon_fb {
    width: 9px;
    height: 17px;
    background-position: -231px -7px;
}

.icon_mount {
    width: 39px;
    height: 38px;
    background-position: -68px -193px;
}

.icon_night {
    width: 77px;
    height: 77px;
    background-position: -254px -7px;
}

.icon_phone {
    width: 27px;
    height: 45px;
    background-position: -235px -98px;
}

.icon_safety {
    width: 77px;
    height: 77px;
    background-position: -235px -157px;
}

.icon_send {
    width: 77px;
    height: 77px;
    background-position: -7px -248px;
}

.icon_tw {
    width: 17px;
    height: 13px;
    background-position: -276px -98px;
}
