#about.about.fadeIn
	.container
		.about__wrap
			.about__img
				img(src="img/about_img.jpg" alt="")
			.about__info
				h2.section-title
					| about scriptum
				.about__text
					p 
						| It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors. 
				a(href="#").about__link
					| learn more