#features.features.fadeIn
	.features__img
		.features__img-inner
			| web development
	.features__info
		.features__info-wrap
			.features__col
				.feature
					.feature__icon
						.icon.icon_design.hvr-shrink
					.feature__text
						| design
				.feature
					.feature__icon
						.icon.icon_send.hvr-shrink
					.feature__text
						| communication
				.feature
					.feature__icon
						.icon.icon_compass.hvr-shrink
					.feature__text
						| coordination
			.features__col
				.feature
					.feature__icon
						.icon.icon_night.hvr-shrink
					.feature__text
						| night work
				.feature
					.feature__icon
						.icon.icon_safety.hvr-shrink
					.feature__text
						| safety
				.feature
					.feature__icon
						.icon.icon_engen.hvr-shrink
					.feature__text
						| development


