head
	meta(charset='utf-8')
	title scriptum
	meta(name="keywords" content="")
	meta(name="description" content="")
	meta(name="viewport" content="width=device-width")
	link(type="text/css" rel="stylesheet" href="css/main.css")