.header
	.header__top
		.header__logo
			a(href="#").logo
				img(src="img/logo.png" alt="")
		.header__nav
			.nav
				.nav__icon-wrap(data-opener="navigation")
					.icon.nav__icon
				ul.nav__list(data-target="navigation")
					li.nav__item
						a(href="#about").nav__link
							| about
					li.nav__item
						a(href="#works").nav__link
							| works
					li.nav__item
						a(href="#features").nav__link
							| development
					li.nav__item
						a(href="#skills").nav__link
							| skills
					li.nav__item
						a(href="#news").nav__link
							| news
					li.nav__item
						a(href="#testimonials").nav__link
							|testimonials
					li.nav__item
						a(href="#contact").nav__link
							| contact us