#news.news.fadeIn
	.container
		.section-title
			| news
		ul.news__list
			li.news__item
				a(href="#").news__img
					img(src="img/news1.jpg" alt="")
				.news__elem
					.news__author
						| Stone Clad
					.news__date
						| 27.01.2017
				a(href="#").news__title
					| Maecenas consequat turpis at ante
				.news__text
					| It is a long established fact that a reader will be distracted.
				a(href="#").news__link
					| learn more
			li.news__item
				a(href="#").news__img
					img(src="img/news2.jpg" alt="")
				.news__elem
					.news__author
						| Stone Clad
					.news__date
						| 27.01.2017
				a(href="#").news__title
					| Maecenas consequat turpis at ante
				.news__text
					| It is a long established fact that a reader will be distracted.
				a(href="#").news__link
					| learn more
			li.news__item
				a(href="#").news__img
					img(src="img/news3.jpg" alt="")
				.news__elem
					.news__author
						| Stone Clad
					.news__date
						| 27.01.2017
				a(href="#").news__title
					| Maecenas consequat turpis at ante
				.news__text
					| It is a long established fact that a reader will be distracted.
				a(href="#").news__link
					| learn more