#skills.skills.fadeIn
	.container
		.section-title
			| skills
		.skills__row
			.skills__title
				| design
			.skills__progress-bar
				.progress-bar
					.progress-bar__inner.progress-bar__inner_design
						.progress-bar__percentage
							| 95 %
		.skills__row
			.skills__title
				| css
			.skills__progress-bar
				.progress-bar
					.progress-bar__inner.progress-bar__inner_css
						.progress-bar__percentage
							| 85 %
		.skills__row
			.skills__title
				| javascript
			.skills__progress-bar
				.progress-bar
					.progress-bar__inner.progress-bar__inner_javascript
						.progress-bar__percentage
							| 80 %
