.container
	.template-features.fadeIn
		.template-features__left
			.template-features__row
				.template-features__elem
					.template-features__icon.hvr-shrink
						.icon.icon_mount
				.template-features__item
					.template-features__title
						| beautiful photos
					.template-features__text
						|  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.
			.template-features__row
				.template-features__elem
					.template-features__icon.hvr-shrink
						.icon.icon_phone
				.template-features__item
					.template-features__title
						| full responsive
					.template-features__text
						| Integer quis tortor metus. Aliquam et lacus nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ut eros nibh.
		.template-features__middle
			img(src="img/phone.png" alt="")
		.template-features__right
			.template-features__row
				.template-features__elem.text-right
					.template-features__icon.hvr-shrink
						.icon.icon_eye
				.template-features__item.text-right
					.template-features__title
						| retina ready
					.template-features__text
						| Proin vitae quam mollis diam faucibus porta hendrerit vitae diam. Aenean cursus massa quis sem dictum convallis. Morbi ornare rutrum tellus, eu dapibus magna iaculis dictum. Nam nibh arcu.
			.template-features__row
				.template-features__elem.text-right
					.template-features__icon.hvr-shrink
						.icon.icon_cup
				.template-features__item.text-right
					.template-features__title
						| crafted on coffeescript
					.template-features__text
						| Sed a ipsum molestie, pellentesque felis at, vestibulum nunc. Aenean eu tristique elit. Vivamus ullamcorper id ante nec condimentum. In eleifend convallis ante in semper. Nam vitae com.
