#testimonials.testimonials.fadeIn
	.testimonials__info
		.testimonials__info-inner
			| quotes from east north clients
	.testimonials__slider
		ul.testimonials__list
			li.testimonials__item
				.testimonial
					.testimonial__text
						| Wroin dapibus nunc eget porta, vulputate consectetur. Donec non eleifend sem. Integer eleifend tellus. Fusce quis ullamcorper, pretium nibh undo leo vel.
			li.testimonials__item
				.testimonial
					.testimonial__text
						| Wroin dapibus nunc eget porta, vulputate consectetur. Donec non eleifend sem. Integer eleifend tellus. Fusce quis ullamcorper, pretium nibh undo leo vel.
			li.testimonials__item
				.testimonial
					.testimonial__text
						| Wroin dapibus nunc eget porta, vulputate consectetur. Donec non eleifend sem. Integer eleifend tellus. Fusce quis ullamcorper, pretium nibh undo leo vel.
			li.testimonials__item
				.testimonial
					.testimonial__text
						| Wroin dapibus nunc eget porta, vulputate consectetur. Donec non eleifend sem. Integer eleifend tellus. Fusce quis ullamcorper, pretium nibh undo leo vel.
			li.testimonials__item
				.testimonial
					.testimonial__text
						| Wroin dapibus nunc eget porta, vulputate consectetur. Donec non eleifend sem. Integer eleifend tellus. Fusce quis ullamcorper, pretium nibh undo leo vel.