#works.works.fadeIn
	.container
		h2.section-title
			| works
		ul.works__list
			li.works__item.active(data-filter="*")
				a(href="#").works__link
					| all
			li.works__item(data-filter=".design")
				a(href="#").works__link
					| design
			li.works__item(data-filter=".web")
				a(href="#").works__link
					| web
			li.works__item(data-filter=".brand")
				a(href="#").works__link
					| brand
			li.works__item(data-filter=".art")
				a(href="#").works__link
					| art
		.works__grid
			.works__grid-item.art
				img(src="img/art1.jpg" alt="")
			.works__grid-item.design
				img(src="img/design2.jpg" alt="")
			.works__grid-item.brand
				img(src="img/brand.jpg" alt="")
			.works__grid-item.web
				img(src="img/web.jpg" alt="")
			.works__grid-item.art
				img(src="img/art2.jpg" alt="")
			.works__grid-item.brand
				img(src="img/brand2.jpg" alt="")
			.works__grid-item.design
				img(src="img/design.jpg" alt="")
			.works__grid-item.web
				img(src="img/web2.jpg" alt="")







