@media all and (max-width: 992px) {
	.header {
		padding-left: 15px;
		padding-right: 15px;
	}
	.nav__list {
		margin-right: 25px;
	}
	.nav__item {
		margin-right: 15px;
	}
	.nav__link {
		font-size: .875rem
	}
	.about__img {
		margin-bottom: 40px;
	}
	.about__img, .about__info {
		float: none;
		width: 100%;
	}
	.about__info {
		padding: 0;
	}
	.about, .works, .features__info, .skills, .news, .template-features, .contacts {
		padding: 50px 0;
	}
	.testimonials .lSPager.lSpg {
		margin-top: 30px !important;
	}
	.template-features__left,.template-features__middle, .template-features__right {
		float: none;
		width: 100%;
		padding: 0;
	}
	.template-features__elem, .template-features__item {
		float: none;
		width: 100%;
		text-align: center;
	}
	.template-features__middle {
		margin-bottom: 25px;
	}
	.template-features__icon {
		margin-bottom: 20px;
	}
	.news__author, .news__date {
		margin-right: 15px;
	}
	.news {
		text-align: center;
	}
}